//- SENSITIVE - Trusted not to leak personally identifying information
//-             relating to the current user.

mixin title()
  | Edit Account

mixin body()
  - let displayName = currentAccount.displayName || ''
  form(id="account" method="post" action="/account")
    table.formatting
      tr
        td(colspan=2)
          h1 Public Profile
      tr
        td
          label(for= "displayName") Display Name
        td
          input(name="displayName" value=displayName)
          input(name="displayNameIsHtml" checked=(typeof currentAccount.displayName === 'object') type="checkbox")
          label.assocleft(for= "displayNameIsHtml") HTML
      tr
        td
          label(for= "publicUrl") Public URL
        td
          input(name="publicUrl" value=(currentAccount.publicUrl || ''))
      tr
        td(colspan=2)
          h1 Private Profile
      tr
        td
          label(for= "realName") Real Name
        td
          input(name="realName" value=require.moduleKeys.unbox(currentAccount.realName, () => true))
      tr
        td
          label(for= "email") Email
        td
          input(name="email" value=require.moduleKeys.unbox(currentAccount.email, () => true))
    input(name="cont" type="hidden" value=cont)
  button(form="account" type="submit") Submit
  |
  |
  a(href=cont)
    button(type="button") Cancel
  br

include includes/envelope.pug
