doctype html
html
  head
    title
      +title()
    script(nonce=cspNonce src='/common.js')
    link(rel='stylesheet' href='/styles.css' nonce=cspNonce)
  body
    if reqUrl.pathname !== '/login'
      .userfloat
        if currentAccount
          span.user.name
            = currentAccount.displayName
          form.lightweight(
              action=`/logout?cont=${encodeURIComponent(reqUrl.pathname + reqUrl.search)}`
              method="POST"
              name="logout")
            button.logoutlink(type="submit") logout
        else
          a.loginlink(href="/login") login
    +body()
