mixin post(post)
  if post.authorName
    span.author.name
      if post.authorUrl
        a(href=post.authorUrl)
          = post.authorName
      else
        = post.authorName
  if post.created
    span.created
      = fmtDate(post.created)
  div.body=(post.body || '')
  if post.images && post.images.length
    div.images
      each image in post.images
        a.usercontent(href=image)
          img(src=image)

mixin post_form(preview)
  each error in (userErrors || [])
    p.error
      =error
  form(id="post-form" action="/post" enctype="multipart/form-data" method="POST")
    textarea(name="body" cols="40" rows="5")= ((preview && (preview.unsanitizedBody || preview.body)) || '')
    div
      label(for="public") Public
      input(type="checkbox" id="public" name="public" checked=preview.isPublic value="1")
    div
      each image, index in preview.images
        .imagepreview
          input(id=`image-${ index }` type="checkbox" checked name="imagepath" value=image)
          label(for=`image-${ index }`)
            img.usercontent(src=image)
    br
    input(type="file" name="upload" multiple="multiple")
    if now
      input(type="hidden" name="now" value=+now)
    hr
  button(type="submit" name="preview" value="1" form="post-form") Preview
  |
  |
  if preview
    button(type="submit" form="post-form") Post
    |
    |
  a(href='/')
    button(type="button") Cancel
